   <%- include("partials/header.ejs") %>
    <div>
      <figure>
        <img id="graphic" src="https://www.perfectly-nintendo.com/wp-content/gallery/supe-mario-maker-16-06-2015/screenshot1.jpg" alt="Mario Maker" width=700 height=400>
      </figure>
    </div>

<div class="par">
      <h2> Bringing Your Game Idea to Life </h2>
      <p>There are about <a href="https://blackshellmedia.com/2016/01/13/four-steps-bringing-game-idea-life/">four stages</a> one must go through before they realize their game idea. Turning your idea from conception to a real life project, is easier than you think. </p>

      <p>First, you have to define your concept. You have to know what it is that drives your game forward. What's it's appeal? Once you understand that, it is important to flesh your ideas out via sketches and an outline. This should be done within the confines of a design document to keep things orderly.</p>

      <p>Take the core elements of your game, and bring them together for a prototype. It should offer a unique and fun experience. If you, the creator, can't have fun playing it, then you should take that as a sign that something needs to change.</p>

      <p>Once you have a MVP that you enjoy, its time to go through your design doc and see what can be realistically done. Unless you have a team of people working together, it is unlikely you can make every feature you want. Limit your scope.</p>

      <p>Now that you have a scope in place, set some achievable goals for yourself in a timely manner. Don't set out to make a big project within your first few games. Its better to get practice by making a few smaller games to get an understanding. It can be frustrating at times, but if you stick with your goals, you should be well on your way to bringing your game ideas to life. Most importantly, have fun with it.</p>
  </div>
  <hr>
</div
   <%- include("partials/footer.ejs") %>
