<%- include("partials/header.ejs") %>

    <div>
      <figure>
        <img id="graphic" src="https://i.ytimg.com/vi/bGkaeYEb4gU/maxresdefault.jpg" alt="Game Engines" width=700 height=400>
      </figure>
    </div>

    <div class="par">
      <h2> Picking The Right Game Engine </h2>
      <p>As you can see, there are plenty of game engines out there to choose from, not to mention you can create your own. Although, this is not something recommended to beginners. <strong>Fun fact:</strong> The CryEngine was initially created to support the original Far Cry, but has since been used by Crytek for a number of games. <a href="https://en.wikipedia.org/wiki/Far_Cry">Source.</a></p>

      <p>Unity and Unreal are by and far the two most popular game engines out there, and they're free! In your particular game, you may want to use a different game engine, but these are the two that are talked about the most. </p>

      <p>If you're starting from the bottom, I'd suggest going for Unity. There are innumerable tutorials to be found on youtube. Some youtubers have taken the time to walk you through how to make simple games step-by-step. You can find help for almost any trouble you face online thanks to the sheer popularity of Unity.</p>

      <p>Get your free download <a href="https://store.unity.com/?_ga=2.3729648.1523897327.1599561286-474999531.1589414799#plans-individual">here.</a></p>
      <hr>
    </div>

    <%- include("partials/footer.ejs") %>
