<%- include("partials/header.ejs") %>

 <div>
      <figure>
        <img id="graphic" src="https://totalgamingnetwork.com/filedata/fetch?type=large&id=3502955" alt="Game Making" width=700 height=400>
      </figure>
    </div>

    <div class="par">
      <h2> Creating Your First Game </h2>
      <p style="text-align:center;">If you want to get started, but don't know how, look no further and follow along this simple tutorial. </p>

      <iframe src="https://www.youtube.com/embed/IlKaB1etrik" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p>In this series of 5 videos, you will be introduced to the basics of Unity. You'll learn about imposing forces on objects, how to make dynamic texts in the form of a score, player movement, and much more. This series is done by one of my personal favorite Unity gurus, Brackeys. </p>
      <hr>
    </div>

    <%- include("partials/footer") %>
