<%- include("partials/header.ejs") %>




<div>
      <figure>
        <img id="graphic" src="img/game_dev.png" alt="Game Dev" width=700 height=400>
      </figure>
    </div>

    <div class="par">
      <h3>Quote of the day</h3>
      <div class="quote">
      Quote is : <%= Quote %>
      </div>
      <h2> Beginning Game Development: An Overview </h2>

      <p>Game Development is a branch of the Computer Science department. One that doesn't get enough credit because frankly, getting started in this field is an exciting thing. What makes Game Dev so great is there are endless possibilities as to what you can create.</p>
      
      <p>Now it is probably for the best if before you get started, you already have some knowledge about coding promgramming languages like C++, C#, Python, Java etc.</p>

      <p>While there may not be a specific language used exclusively for Game Development, C++ is the most popular in Game Dev and most commonly used language for writing game engines. Some examples of popular games made with C++ are Counter-Strike, King Quest, and World of Warcraft. Java is also fairly popular, one popular example being Angry Birds Chrome. <a href="https://www.geeksforgeeks.org/how-to-get-started-with-game-development/">Source. </a> </p>
      <hr>
    </div>

<%- include("partials/footer.ejs") %>